<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_SocialMetaTags>
            <version>0.1.0</version>
        </MobWeb_SocialMetaTags>
    </modules>
    <frontend>
        <layout>
            <updates>
                <MobWeb_SocialMetaTags>
                    <file>MobWeb_SocialMetaTags.xml</file>
                </MobWeb_SocialMetaTags>
            </updates>
        </layout>
    </frontend>
</config>